<div class="w-full profile-container">
  <p-toast></p-toast>
  <div class="w-full h-5rem flex">
    <div class="mt-3 ml-2">
      <p-button (onClick)="goBack()" [rounded]="true" [text]="true" icon="pi pi-arrow-left profile-icons"></p-button>
    </div>
    <div class="ml-2">
      <p class="text-xl font-bold">{{ profile.user?.profileName }}</p>
      <p class="-mt-3 text-400">{{ profile.postCount }} dodnaych postów</p>
    </div>
  </div>

  <div class="w-full max-h-16rem">
    <img
      [src]="profile.user?.backgroundImageUrl ? profile.user?.backgroundImageUrl : 'http://localhost:8080/defaults/background.png'"
      alt="background-picture"
      style="width: 100%; max-height: 16rem;"
    />
  </div>

  <div class="w-full -mt-8 flex">
    <img
      [src]="profile.user?.profileImageUrl ? profile.user?.profileImageUrl : 'http://localhost:8080/defaults/profile.png'"
      alt="background-picture"
      class="profile-picture"
      style="max-width: 23%; height: auto;"
    />
    @if (user.userId === profile.user?.userId) {
      <p-button label="Edytuj profil" class="edit-button" [rounded]="true" [outlined]="true"
                (click)="editData()"></p-button>
    } @else {
      <p-button label="Wiadomość" [rounded]="true" [outlined]="true" class="message-button mr-2" icon="pi pi-envelope"
                iconPos="right" (click)="sendMessage(profile.user)"/>
    }
  </div>

  <div class="w-full ml-3">
    <p class="text-3xl w-10 font-bold profile-name">{{ profile.user?.profileName }}</p>
    <p class="text-xl w-10 -mt-4 text-400">{{ '@' + profile.user?.login }}</p>
    <div class="flex -mt-2">
      <p class="mt-0 ml-1">{{ profile.user?.profileDesc ? profile.user?.profileDesc : '' }}</p>
    </div>
    <div class="flex">
      <i class="pi pi-calendar text-400"></i>
      <p class="text-400 mt-0 ml-1">Dołączył/a {{ profile.user?.createdAt | date: 'LLLL yyyy' }}</p>
    </div>
    <div class="flex -mt-2">
      <p class="text-400 mt-0 ml-1">
        <span class="text-white font-bold">{{ profile.followersCount }}</span> Obserwowanych
      </p>
      <p class="text-400 mt-0 ml-4">
        <span class="text-white font-bold">{{ profile.followingCount }}</span> Obserwujących
      </p>
    </div>
  </div>

  <p-tabView class="tab-view">
    <p-tabPanel header="Posty">
      @for (post of profile.posts; track post.post.postId) {
        <div class="post" (click)="openPost(post)">
          <app-post [postTo]="post" (deleted)="getProfile()"></app-post>
        </div>
      }
    </p-tabPanel>
    <p-tabPanel header="Komentarze">
      @for (mappedComment of mappedComments; track mappedComment.commentId) {
        <app-post [postTo]="mappedComment.postTo" [commentId]="mappedComment.commentId"
                  (deleted)="getProfile()"></app-post>
      }
    </p-tabPanel>
  </p-tabView>
</div>

<p-dialog
  [(visible)]="visible"
  [modal]="true">
  <ng-template pTemplate="header">
    <span class="ml-5 font-bold text-2xl">Edytuj dane profilu</span>
  </ng-template>
  <form [formGroup]="editDataForm">
    <div class="image-container background-container">
      <div
        [style.background-image]="'url(' + (backgroundImageUrl ? backgroundImageUrl : 'http://localhost:8080/defaults/background.png') + ')'"
        class="image background-image"
      >
        <p-button (click)="changeBackground($event)" [rounded]="true" [text]="true" class="icon-button"
                  icon="pi pi-camera"><input (change)="changeBackground($event)" accept="image/*" class="file-input"
                                                            type="file"/></p-button>

      </div>
    </div>

    <div class="image-container profile-picture-container -mt-8 ml-2 mb-4">
      <div
        [style.background-image]="'url(' + (profileImageUrl ? profileImageUrl : 'http://localhost:8080/defaults/profile.png') + ')'"
        class="image profile-picture-image"
      >
        <p-button (click)="changeProfilePicture($event)" [rounded]="true" [text]="true" class="icon-button"
                  icon="pi pi-camera"><input (change)="changeProfilePicture($event)" accept="image/*" class="file-input"
                                                                type="file"/></p-button>
      </div>
    </div>
    <div class="ml-5 mr-5">
      <div class="flex align-items-center gap-3 mb-3">
        <label class="font-semibold w-7rem" for="profileName">Nazwa profilu</label>
        <input
          autocomplete="off" class="w-20rem" formControlName="profileName"
          id="profileName" pInputText/>
      </div>
      <div class="flex align-items-center gap-3 mb-3">
        <label class="font-semibold w-7rem" for="description">Opis profilu</label>
        <textarea autocomplete="off" class="w-20rem" formControlName="description"
                  id="description" maxlength="150"
                  pInputTextarea rows="5"></textarea>
      </div>
      <div class="flex align-items-center gap-3 mb-3">
        <label class="font-semibold w-7rem">Płeć</label>
        <p-dropdown
          [options]="genders"
          appendTo="body"
          formControlName="gender"
          optionLabel="value"
          optionValue="code"/>
      </div>
    </div>
  </form>
  <ng-template class="flex align-items-center justify-content-cente" pTemplate="footer">
    <p-button
      (click)="editProfile()"
      [text]="true"
      label="Zapisz"
    />
  </ng-template>
</p-dialog>
