<div class="h-6rem border-round-md w-18rem flex grid card-container">
  <div class="col-3">
    <div class="image-container ml-1">
      <img [ngSrc]="user.profileImageUrl ? user.profileImageUrl : 'http://localhost:8080/defaults/profile.png'"
           height="80"
           width="80">
    </div>
  </div>
    <div class="col-8 white-space-nowrap overflow-hidden text-overflow-ellipsis ml-2">
      <p class="text-2xl w-10 font-bold profile-name mt-2">{{ user.profileName }}</p>
      <p class="text-l w-10 -mt-3 text-400">{{ '@' + user.userName }}</p>
    </div>
</div>
