<div class="mt-2 sidebar-container">
  <div class="flex align-items-center justify-content-center">
    <div class="w-5rem">
      <img alt="Logo" height="1065" ngSrc="assets/logo-big.png" style="max-width: 100%; height: auto;" width="2000">
    </div>
    <div>
      <p class="font-bold text-4xl vertical-align-top">
        Friend<span class="primary-color">Nest</span>
      </p>
    </div>

  </div>
  <div>
    <div class="mb-2">
      <p-button [routerLink]="['main-page']" [text]="true" class="bar-button"
                icon="pi pi-home" iconPos="left" label="Główna" size="large"/>
    </div>
    <div class="mb-2">
      <p-button [routerLink]="['search']" [text]="true" class="bar-button"
                icon="pi pi-search" iconPos="left" label="Przeglądaj"
                size="large"/>
    </div>
    <div class="mb-2">
      <p-button [routerLink]="['messages']" [text]="true" class="bar-button"
                icon="pi pi-envelope" iconPos="left" label="Wiadomości"
                size="large"/>
    </div>
    <div class="mb-2">
      <p-button (click)="openProfile()" [text]="true" class="bar-button" icon="pi pi-user"
                iconPos="left" label="Profil" size="large"/>
    </div>
    <div class="mb-4">
      <p-button (click)="onLogout()" [text]="true" class="bar-button"
                icon="pi pi-sign-out"
                iconPos="left" label="Wyloguj się" size="large"/>
    </div>
    <div class="mb-4">
      <p-button (click)="navigateToMainPage()" [rounded]="true"
                class="full-button" label="Opublikuj wpis"/>
    </div>
  </div>
  <div class="profile-card">
    <a (click)="openProfile()">
      <app-profile-card></app-profile-card>
    </a>
  </div>
</div>
