<div class="w-full card-container">
  <p-toast></p-toast>
  <div>
    <app-add-post></app-add-post>
  </div>
  <div class="h-3rem sort-container mt-2 grid">
    <div class="w-21rem">
      <span class="text-xl ml-4 font-bold mr-1">Sortuj po:</span>
      <p-dropdown [options]="sortOptions"
                  optionLabel="value"
                  optionValue="code"
                  [(ngModel)]="getPostsRequest.sortOption"
                  class="category-dropdown"
                  (onChange)="getPosts()"
                  placeholder="Wybierz" ></p-dropdown>
    </div>
    <div class="ml-1">
      <span class="text-xl font-bold mr-1">Kategoria: </span>
      <p-dropdown [options]="categories"
                  optionLabel="value"
                  optionValue="code"
                  [(ngModel)]="getPostsRequest.category"
                  (onChange)="getPosts()"
                  class="category-dropdown"
                  placeholder="Wybierz" ></p-dropdown>
    </div>
  </div>
  <div>
    @if (posts$ | async; as posts) {
      @for (post of posts; track post) {
        <div class="post" (click)="openPost()">
          <app-post [postTo]="post"></app-post>
        </div>
      }
    }
  </div>
</div>
