<div class="w-full card-container">
  <p-toast></p-toast>
  <div>
    <p class="text-3xl ml-4 font-bold mt-2 mb-2">Dodaj post</p>
    <app-add-post></app-add-post>
  </div>
  <div class="h-3rem sort-container mt-2 grid">
    <div class="w-21rem">
      <span class="text-xl ml-4 font-bold mr-1">Sortuj po:</span>
      <p-dropdown (onChange)="getPosts()"
                  [(ngModel)]="getPostsRequest.sortOption"
                  [options]="sortOptions"
                  class="category-dropdown"
                  optionLabel="value"
                  optionValue="code"
                  placeholder="Wybierz"></p-dropdown>
    </div>
    <div class="ml-1">
      <span class="text-xl font-bold mr-1">Kategoria: </span>
      <p-dropdown (onChange)="getPosts()"
                  [(ngModel)]="getPostsRequest.category"
                  [options]="categories"
                  class="category-dropdown"
                  optionLabel="value"
                  optionValue="code"
                  placeholder="Wybierz"></p-dropdown>
    </div>
  </div>
  <div>
    @if (posts$ | async; as posts) {
      @for (post of posts; track post) {
        <app-post [postTo]="post" [isNested]="false"></app-post>
      }
    }
  </div>
</div>
