.card-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border-left: 1px solid #5e5e5e;
  border-right: 1px solid #5e5e5e;
  overflow-x: hidden;
}

.sort-container {
  border-bottom: 1px solid #5e5e5e;
  ::ng-deep .p-inputtext {
    font-size: 18px !important;
  }
}

.post {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.post:hover {
  background-color: #080808;
}


