<div class="w-20rem h-20rem right-sidebar">
  <div>
    <p class="text-3xl ml-4 font-bold mt-3 mb-4">Wyszukaj</p>
  </div>
  <div class="card flex justify-content-center">
    <p-autoComplete
      #autoComplete
      [(ngModel)]="selectedResult"
      [group]="true"
      [suggestions]="filteredGroups"
      [emptySelectionMessage]="'Brak wyników'"
      (input)="onInputChange($event)"
      (keydown.enter)="onKeydown(autoComplete)"
      (onSelect)="openPostProfile($event)"
      scrollHeight="200"
      placeholder="Wpisz aby wyszukać">
      <ng-template let-group pTemplate="group">
        <div class="flex align-items-center">
          <span>{{ group.label }}</span>
        </div>
      </ng-template>
      <ng-template let-item pTemplate="item">
        <div class="flex align-items-center">
          @if(item.value.profileImageUrl) {
            <img [src]="item.value.profileImageUrl" alt="" class="icon">
          }
          <span>{{item.label.length > 20 ?  (item.label.substring(0,23)) + '...' : item.label }}</span>
        </div>
      </ng-template>
    </p-autoComplete>
  </div>
  <div>
    <p class="text-3xl ml-4 font-bold mt-3 mb-4">Najpopularniejsze</p>
  </div>
</div>

