input {
  border-radius: 3px;
  width: 15rem;
}

.top-button ::ng-deep .p-button {
  width: 15rem;
}

.primary-color{
  color: var(--primary-color);
}

::ng-deep {
  .p-dialog {
    background-color: black;
    color: white;
    box-shadow: 0 0 10px #1e1e1e;

    &-header,
    &-content,
    &-footer {
      background-color: black;
      color: white;
    }
  }
  .p-dropdown {
    width: 20rem;
    background-color: black;
  }
}


