.primary-color{
  color: var(--primary-color);
}

.bar-button ::ng-deep {
  .p-button.p-button-text {
    color: white;
    font-size: 23px;
  }
  .p-button.p-button-lg .p-button-icon {
    font-size: 1.8rem;

  }
  .p-button .p-button-label {
    margin-top: 6px;
    margin-left: 10px;
  }
}

.full-button ::ng-deep .p-button {
  width: 15rem;
}

.profile-card {
  margin-top: 29vh;
}

.profile-card {
  cursor: pointer;
}


