<div class="mt-2">
  <div class="flex align-items-center justify-content-center">
    <div class="w-5rem">
      <img ngSrc="assets/logo-big.png" style="max-width: 100%; height: auto;" alt="Logo" height="1065" width="2000">
    </div>
    <div>
      <p class="font-bold text-4xl vertical-align-top">
        Friend<span class="primary-color">Nest</span>
      </p>
    </div>

  </div>
  <div>
    <div class="mb-2">
      <p-button label="Główna" icon="pi pi-home" size="large"
                [text]="true" iconPos="left" class="bar-button"/>
    </div>
    <div class="mb-2">
      <p-button label="Przeglądaj" icon="pi pi-search" size="large"
                [text]="true" iconPos="left" class="bar-button"/>
    </div>
    <div class="mb-2">
      <p-button label="Wiadomości" icon="pi pi-envelope" size="large"
                [text]="true" iconPos="left" class="bar-button"/>
    </div>
    <div class="mb-2">
      <p-button label="Profil" icon="pi pi-user" size="large"
                [text]="true" iconPos="left" class="bar-button"/>
    </div>
    <div class="mb-4">
      <p-button label="Wyloguj się" icon="pi pi-sign-out" size="large"
                [text]="true" iconPos="left" class="bar-button"/>
    </div>
    <div class="mb-4">
      <p-button label="Opublikuj wpis" class="full-button"
                [rounded]="true" />
    </div>
  </div>
</div>
