.sidebar {
  position: fixed;
  top: 0;
  width: 16.666%;
  height: 100vh;
  padding: 20px;
  z-index: 1000;
}

.sidebar.left {
  left: 0;
}

.sidebar.right {
  left: 68%;
}

.scrollable-content {
  margin-left: 34.5%;
  height: 100vh;
  width: 32%;
}

.messages {
  width: 48%;
}

.grid {
  margin-top: -16px;
}
