<div class="grid post-container">
  <div class="col-2 mt-2">
    <div class="image-container ml-1">
      <img [ngSrc]="postTo.post.user.profileImageUrl ? postTo.post.user.profileImageUrl : 'http://localhost:8080/defaults/profile.png'"
           width="80"
           height="80">
    </div>
  </div>
  <div class="col-9">
    <div class="block h-1rem mt-3">
      <span class="text-xl font-bold">{{postTo.post.user.profileName}}</span>
      <span class="text-l text-400 ml-1">{{'@' + postTo.post.user.login}}</span>
    </div>
    <div class="block mt-2">
      @if(postTo.post.imageUrl) {
        <div class="mt-3 mb-3 border-round-xl">
          <p-image [src]="postTo.post.imageUrl" [preview]="true" width="460"></p-image>
        </div>
      }
      <span>{{postTo.post.content}}</span>
    </div>
    <div  class="block h-3rem justify-content-between flex mt-1 flex align-items-center justify-content-center">
      <p-button
        icon='pi pi-comment'
        [rounded]="true"
        [text]="true"
        [ngClass]="postTo.userInteractionsToPost.isCommented ? 'activated-button' : 'default-button'"
        [disabled]="buttonStates[1].disabled"
        (click)="toggleButton(1)">
      </p-button>

      <span class="text-400 interaction-number">{{postTo.userInteractionsToPost.commentsNumber}}</span>

      <p-button
        [icon]="postTo.userInteractionsToPost.isLiked ? 'pi pi-thumbs-up-fill' : 'pi pi-thumbs-up'"
        [rounded]="true"
        [text]="true"
        [ngClass]="postTo.userInteractionsToPost.isLiked ? 'activated-button' : 'default-button'"
        [disabled]="buttonStates[2].disabled || postTo.userInteractionsToPost.isDisliked "
        (click)="toggleButton(2)">
      </p-button>

      <span class="text-400 interaction-number">{{postTo.userInteractionsToPost.likesNumber}}</span>

      <p-button
        [icon]="postTo.userInteractionsToPost.isDisliked ? 'pi pi-thumbs-down-fill' : 'pi pi-thumbs-up'"
        [rounded]="true"
        [text]="true"
        [ngClass]="postTo.userInteractionsToPost.isDisliked ? 'activated-button' : 'default-button'"
        [disabled]="buttonStates[3].disabled || postTo.userInteractionsToPost.isLiked"
        (click)="toggleButton(3)">
      </p-button>

      <span class="text-400 interaction-number">{{postTo.userInteractionsToPost.dislikesNumber}}</span>

      <p-button
        icon='pi pi-sync'
        [rounded]="true"
        [text]="true"
        [ngClass]="postTo.userInteractionsToPost.isReposted ? 'activated-button' : 'default-button'"
        [disabled]="buttonStates[4].disabled"
        (click)="toggleButton(4)">
      </p-button>

      <span class="text-400 interaction-number">{{postTo.userInteractionsToPost.repostsNumber}}</span>

      <p-button
        icon='pi pi-pencil'
        [rounded]="true"
        [text]="true"
        [ngClass]="postTo.userInteractionsToPost.isQuoted ? 'activated-button' : 'default-button'"
        [disabled]="buttonStates[5].disabled"
        (click)="toggleButton(5)">
      </p-button>

      <span class="text-400 interaction-number">{{postTo.userInteractionsToPost.quotesNumber}}</span>

    </div>
  </div>
</div>
